/*
** file: css/option.css
** description: custom styling for "html/info.html" file
*/

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 300px;
    height: auto;
    /* margin: 20px; */
}

/* h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 12px;
} */

/* h2 {
    font-size: 20px;
    font-family: 'PT Sans Narror', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
} */

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    padding: 0;
    color: rgb(77, 77, 77);
    text-align: center;
}

/* h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
    text-align: center;
}  */

h5 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    color: rgb(77, 77, 77);
    text-align: center;
    display: inline-block;
    padding: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 11px;
    color: rgb(77, 77, 77);
}

p.disclaimer {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    padding: 15px;
    color: rgb(77, 77, 77);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding:10px;
}

/* footer {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(rgb(210, 201, 202), rgb(230, 230, 230));
} */

/* #header {
    text-align: center;
    width: 100%;
    background: linear-gradient(rgb(252, 74, 26), rgb(247, 183, 51));
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
} */

.section-element .content-header {
    padding: 2px;
    cursor: pointer;
}

.content-header {
    display: inline-block;
    text-align: center;
}

.content-section {
    display: none;
}

.content-section.visible {
    height: auto;
    overflow: auto;
}

.section-element {
    background: linear-gradient(rgb(210, 201, 202), rgb(230, 230, 230));
    margin: 15px 10px 15px;
    padding: 0px;
    border-radius: 10px;
    /* border: red 1px solid; */
}

.section-element:hover {
    background: linear-gradient(rgb(197, 189, 190), rgb(204, 204, 204));
    cursor: pointer;
}

img {
    width: 14%;
    display: inline-block;
    text-align: center;
    margin: auto;
    padding-right: 12px;
}

.centered {
    text-align: center;
}

.orient-left {
    text-align: left;
}

.orient{
    padding-left: 32px;
}

.list-orient {
    padding-left: 50px;
}

.extra-pad {
    padding-left: 10px;
}

#extra-pad2 {
    padding-top: 20px;
}

.extra-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    all: unset;
    vertical-align: middle;
    width: 10%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

a h4 {
    padding-top: 5px;
}

.floating-back {
    all: unset;
    text-decoration: none;
    margin-top: 5px;;
    margin-left: 250px;
    opacity: 0.75;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
  
.floating-back:hover {
    opacity: 1;
}

#info-icon {
    all: unset;
    width: 20px;
    padding-top: 15px;
    float: right;
    padding-right: 10px;
    height: auto;
    opacity: 0.75;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

#info-icon:hover {
    opacity: 1;
}

#back-icon {
    all: unset;
    /* border: red 1px solid; */
    width: 20px;
    float: right;
    height: auto;
}